.activity-container{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.activity-container p{
    margin-top: 0;
    font-weight: 600;
}

.avatar-container{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.button-container{
    width: 80%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en varias filas */

}
.cartoon-container{
    width: 80%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.avatar-image{
    margin-top: 30px;
    height: 120px;
    width: 120px;
    z-index: 1;
    margin-bottom: -80px;
}

.trapecio-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 80%;
}
.svg{
    margin-top: -12px;
    scale: 1;
    height: 300px;
    opacity: 0.08;
    position: relative;
}
.generator-text{
    font-size: 1.05rem;
    line-height: 100%;
    color: black;
    padding:0 40px;
    text-align: center;
    z-index: 10;
    position: absolute;
    top: 70px;
    left: 0;
}
.generator-button{
    position: absolute;
    top: 150px;
    bottom: 0;
    height: 40px;
    background-color: black;
    color: white;
}

@media (max-width: 768px){

.avatar-container{
    align-self: center;
}
.activity-container{
    align-self: center;
    width: 80vw;
}
.activity-container h2{
    margin-top: -30px;
}
.button-container{
    width: 80vw;
    height: 100px;
}
.button-container :nth-last-child(1),
.button-container :nth-last-child(2){
    display: none;
}
    }